manifest {

    author          = "Eachan O. Johnson"
    homePage        = "https://github.com/scbirlab/nf-sbrnaseq"
    description     = "Process demultiplexed Illumina paired-end FASTQ files from multiple bacterial samples into a gene x cell count table"
    defaultBranch   = "main"
    nextflowVersion = '!>=22.10.1'
    version         = "0.0.2"
    doi             = ''

}

params {
    
    help = null
    
    // *** Pipeline Input parameters ***

    sample_sheet = null
    fastq_dir = null

    genome_fasta_dir = null
    genome_gff_dir = null

    // *** Pipeline processing parameters ***

    // - Adapter trimming
    trim_qual = 10
    min_length = 11 

    // - UMI-tools
    umitools_error = 6

    // - Feature counting
    // * Strandedness: 1 for forward, 2 for reverse
    strand = 1
    // which annotation types to use to count reads
    // This is one or more (comma-separated) categories 
    // from column 3 of the GFF   
    ann_type = 'gene'
    // What to use to label the features
    // This is one or more (comma-separated) fields
    // from column 9 of the GFF
    label = 'Name'
}

profiles {

  standard {

    conda.enabled = true
    conda.useMamba = true
    process.conda = "${projectDir}/environment.yml"
    process.executor = 'slurm'
    notification.enabled = true
    notification.to = "$USER@crick.ac.uk"

  }

}