params {
    // *** Pipeline Input parameters ***
    inputs = "inputs"
    outputs = "outputs"
    sample_sheet = "sample-sheet.csv"
    fastq_dir = "fastq"

    // *** Pipeline processing parameters ***
    nanopore = true

    // - Adapter trimming
    trim_qual = 10
    min_length = 30 
    mapper = "minimap2"

    // - Feature counting
    // * Strandedness: 1 for forward, 2 for reverse
    strand = 1
    // which annotation types to use to count reads
    // This is one or more (comma-separated) categories 
    // from column 3 of the GFF   
    ann_type = 'gene'
    // What to use to label the features
    // This is one or more (comma-separated) fields
    // from column 9 of the GFF
    label = 'locus_tag'
}
